/* Custom color theme properties */
:root {
  --f7-theme-color: #800000;
  --f7-theme-color-rgb: 148, 244, 255;
  --f7-theme-color-shade: #FFFFFF;
  --f7-theme-color-tint: #FFFFFF;
}

/* Your app custom styles here */